body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
} h1{
    font-size: 50px;
    
} h2{
    font-size: 40px;
}


.orange {
    color: orange;
} 
.flexible-container {display: flex ;
    margin-bottom: 100px;


} .half-width {
    width: 50%;
    padding-left: 5%;


} 

.link-button
{ 
    

background-color: rgb(255, 167, 79);
padding: 10px 40px;
border-radius: 5px;
color: white;
font-weight: 700;  

} .banner{ 
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
} .day-dreamer{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;background-position: right;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
margin-right: 5%;
margin-left: 5%;
padding-left: 10px;
border-radius: 10px;
}
 .experience-area{
     background-image: url(images/exp-bg.png);
     background-repeat: no-repeat;
     background-position: left;
 }
 #web-dev{
    border-style: solid;
    border-width: 10px;
    border-image: radial-gradient(rgb(0,143,104), rgb(250,224,66)) 1;
 } #full-stack{
    border-style: solid;
  border-width: 10px;
  border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
    
} 

 footer p{
     text-align: center;
 }